.container {
  width: 22%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
 
  height: 500px;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.title {
  font-size: 18px;
  font-weight: bold;
  color: #581b44;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.desc {
  text-align: justify;
  color: #777;



 
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .price,
  .desc {
    font-size: 24px;
  }
}
